/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: #F1F3F2;
}

.body-default{
    padding: 1%;
}
.full {
    height: 100vh;
    width: 100vw;
}